// fonts 
body{
    background: #F0E9E3;
    font-family: "Euclid Circular B", sans-serif;
    font-weight: 400;
}
body, html{
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.btn-ui-burger{
    display: none;
}

.container{
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

//btn ui

.btn-ui-none{
    background: transparent;
    border: transparent;
    cursor: pointer;
}

.btn-ui-1{
    font-weight: 500;
    font-size: 12.7634px;
    line-height: 140%;
    color: #000000;
    padding: 20px 16px;
    border:none;
    background: white;
    cursor: pointer;
}

.btn-ui-2{
    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    color: #000000;
    padding: 31px;
    padding-left: 100px;
    padding-right: 100px;
    border: solid 1px #000000;
}

.btn-ui-3{
    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 400;
    font-size: 24.5161px;
    line-height: 140%;
    color: #262626;
    padding: 40px;
    padding-left: 50px;
    padding-right: 50px;
    background: #EBCBB2;
    border: 1.22581px solid #EBCBB2;
}

.btn-ui-form{
    width: 100%;
    height: auto;
    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 400;
    font-size: 22.6891px;
    line-height: 140%;
    color: black;
    transition: .3s ease-in-out;
    padding: 30px 28px;
    &::placeholder{
        color: #D9D9D9;
    }
    background: transparent;
    border: 2px solid #222222;
}

.btn-ui-scroll{
    padding: 27px;
    border:solid 2px #C3BEB9;
    border-radius: 50%;
    position: relative;
    transition: .1s ease-in-out;
    &:active{
        background: #c3c0be;
    }
    &:hover{
        &::after{
            // left: -60px;
            left: -80px;
            transform: translateY(-50%) rotate(70deg);
            top:10%;
        }
        & > svg{
            transform: rotate(-360deg);
        }
    }
    &::after{
        // border:solid 1px;
        content: "";
        transition: .3s ease-in-out;
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 80px;
        background: #F0E9E3;
        z-index: 0;
    }
    & > svg{
        position: relative;
        transition: .5s ease-in-out;
        z-index: 1;
    }
}

// components

header{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 50px;
    & > .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        & > .logo > img{
            max-width: 200px;
        }
        & > nav{
            & > .list{
                display: flex;
                align-items: center;
                & > li{
                    margin-right: 56px;
                    &:last-child{
                        margin-right: 0;
                    }
                    & > a{
                        font-family: 'Euclid Circular B';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 22.3834px;
                        line-height: 130%;
                        color: #000000;
                        text-decoration: none;
                    }
                }
            }
        }
        & .feedback{
            display: flex;
            align-items: center;
            & > img{
                width: 36px;
                height: 36px;
                object-fit: cover;
                margin-right: 15px;
            }
            & > .info{
                margin-right: 30px;
                & > span{
                    display: block;
                    font-weight: 300;
                    font-size: 11.7545px;
                    line-height: 130%;
                    text-align: right;
                    color: rgba(0, 0, 0, 0.6);
                    margin-bottom: 4px;
                }
                & > a{
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 130%;
                    text-align: right;
                    color: #000000;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }

        & > .preList{
            position: absolute;
            right: 0;
            top: 79px;
        }

    }
}

footer{
    padding-top: 120px;
    padding-bottom: 120px;
    & > .container{
        & > .column1{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-bottom: 72px;
            & > .wrapper{
                &.logo{
                    & > a{
                        font-family: 'Euclid Circular B';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16.7895px;
                        line-height: 130%;
                        text-decoration-line: underline;
                        color: #DDAE8A;
                        margin-top: 53px;
                        display: block;
                    }
                    & > img{
                        max-width: 220px;
                    }
                }

                &.list{
                    & > h3{
                        font-family: 'Euclid Circular B';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 19.188px;
                        line-height: 130%;
                        color: #000000;
                        margin-bottom: 24px;
                    }
                    & > .list{
                        & > li{
                            font-family: 'Euclid Circular B';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 16.7895px;
                            line-height: 120%;
                            color: #000000;
                            margin-bottom: 12px;
                            &:last-child{
                                margin-bottom: 0;
                            }
                            & > a{
                                font-family: 'Euclid Circular B';
                                font-style: normal;
                                font-weight: 300;
                                font-size: 16.7895px;
                                line-height: 120%;
                                color: #000000;
                                text-decoration: none;
                            }
                        }
                    }
                }

                &.button{
                    & > a{
                        display: none;
                    }
                }
            }
        }
        & > .column2{
            margin-bottom: 59px;
            & > iframe{
                width: 100%;
                height: 600px;
            }
        }
        & > .column3{
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > .title{
                font-family: 'Euclid Circular B';
                font-style: normal;
                font-weight: 300;
                font-size: 16.7895px;
                line-height: 120%;
                color: #000000;
            }
            & > .powerd{
                font-family: 'Euclid Circular B';
                font-style: normal;
                font-weight: 300;
                font-size: 16.7895px;
                line-height: 120%;
                color: #000000;
                & > a{
                    color: #E1AA7F;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width:1600px){
    .container{
        max-width: 1160px;
    }

    .btn-ui-2{
        padding: 22px 57px;
        font-size: 20px;
    }

    .btn-ui-3{
        padding: 33px 180px;
        font-size: 20px;
    }

    header>.container>nav>.list>li{
        margin-right: 50px;
        & > a{
            font-size: 19px;
        }
    }
}
@media (max-width:1400px){
    .container{
        max-width: 998px;
    }
    footer>.container>.column1{
        grid-template-columns: repeat(3, 1fr);
        & > .wrapper.button{
            margin-top: 60px;
        }
    }
    header>.container>.logo>img{
        max-width: 100px;
    }
    header>.container>nav>.list>li>a{
        font-size: 17px;
    }
}

@media (max-width:1100px){
    .container{
        max-width: 600px;
    }
    .btn-ui-1{
        padding: 16px 20px;
    }
    .btn-ui-2{
        font-size: 14px;
        padding: 21px 46px;
    }
    footer>.container>.column1 > .wrapper.logo{
        grid-column-start: 1;
        grid-column-end: 4;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        & > img{
            max-width: 214px;
            height: 60px;
        }
        & > a{
            position: relative;
            bottom: -73px;
            font-size: 14px;
        }
    }

    header>.container>nav>.list{
        display: none;
    }

    header>.container>.preList{
        position: relative;
        top:auto;
        left: auto;
    }
    
    header.v2>.container>.btn-ui-burger{
        display: block;
        position: absolute;
        right: 0;
        top:140px;
    }

}

@media (max-width: 640px){
    header.v2>.container>.btn-ui-burger{
        display: block;
        position: static;
    }
    header>.container .feedback{
        display: none;
    }
    header>.container>.preList{
        display: none;
    }
    .container{
        max-width: 350px;
    }

    .btn-ui-burger{
        display: block;
    }
    .btn-ui-3{
        text-align: center;
        padding: 30px;
        width: 100%;
    }

    footer>.container>.column1>.wrapper.button>a{
        display: block;
        font-family: 'Euclid Circular B';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        text-decoration-line: underline;
        color: #E1AA7F;
        margin-bottom: 30px;
    }
    footer>.container>.column3{
        display: block;
        & > span{
            font-size: 16px;
            &:first-child{
                display: block;
                margin-bottom: 30px;
            }
        }
    }
}